<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>

<nav th:replace="fragments/nav"/>

<div class="container" id="tablePurchasedOffers" th:fragment="tablePurchasedOffers">
    <h2 th:text="#{msg.offer.purchasedlist.headtitle}"></h2>
    <p th:text="#{msg.offer.ownlist.text}"></p>
    <div class="card-deck">
        <div class="card border-dark mb-3" style="max-width: 18rem;min-width: 18rem; "
             th:each="offer : ${offersList}">
            <div class="card-img-top" th:if="${offer.hasPicture}">
                <img class="card-img-top" width="256" height="256" th:src="${'/pictures/' + offer.id + '.png'}"/>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${offer.price + ' EUR'}"></h5>
                <h6 class="card-subtitle" th:text="${offer.title}"></h6>
                <p class="card-text" th:text="${offer.description}"></p>
                <p class="card-text" th:text="${offer.owner.email}"></p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>