<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2 th:text="#{msg.nav.search}"></h2>
    <form action="/offer/searchList" class="navbar-form"
          id="searchTextForm">
        <div class="form-group">
            <input class="form-control" name="searchText" placeholder="Buscar por título de la oferta" size="50"
                   type="text">
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-hover" id="tableSearchedOffers"
               th:fragment="tableSearchedOffers">
            <span class="text-danger" th:if="${buyError}" th:text="#{error.amount}"></span>
            <thead>
            <tr>
                <th th:text="#{msg.offer.ownlist.title}"></th>
                <th th:text="#{msg.offer.ownlist.desc}"></th>
                <th th:text="#{msg.offer.ownlist.price}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offersList}">
                <td th:text="${offer.title}"></td>
                <td th:text="${offer.description}"></td>
                <td th:text="${error}"></td>
                <td>
                    <div>
                        <div th:unless="${offer.purchase}">
                            <button class="btn btn-success" th:id="${'purchaseButton' + offer.id}"
                                    th:text="#{msg.offer.purchase}"
                                    type="button">
                            </button>
                            <script th:inline="javascript">
                                /*<![CDATA[*/
                                $("#purchaseButton"+ "[[${offer.id}]]").click(function() {
                                    $.get( "/offer/[[${offer.id}]]/purchase", function( data ) {
                                        let numberPage = [[${param.page}]];
                                        let urlUpdate = '/offer/searchList/update';
                                        if ( numberPage != null ){
                                            urlUpdate += "?page="+numberPage[0];
                                        }
                                        $("#tableSearchedOffers").load(urlUpdate);
                                    });
                                });
                                /*]]>*/
                            </script>
                        </div>
                        <div th:if="${offer.purchase}">
                            <button class="btn btn-info" th:id="${'purchaseButton' + offer.id}"
                                    th:text="#{msg.offer.sold}"
                                    type="button"><span></span>
                            </button>
                        </div>

                        <a th:if="${offer.owner.email!=#authentication.principal.username}" th:href="${'/conversation/' + offer.id}" th:text="#{msg.conversation.start}"></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>