<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2 th:text="#{msg.nav.search}"></h2>
    <form action="/offer/searchList" class="navbar-form"
          id="searchTextForm">
        <div class="form-group">
            <input class="form-control" name="searchText" placeholder="Buscar por título de la oferta" size="50"
                   type="text">
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-hover" id="tableSearchedOffers"
               th:fragment="tableSearchedOffers">
            <thead>
            <tr>
                <th th:text="#{msg.offer.ownlist.title}"></th>
                <th th:text="#{msg.offer.ownlist.desc}"></th>
                <th th:text="#{msg.offer.ownlist.price}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offersList}">
                <td th:text="${offer.title}"></td>
                <td th:text="${offer.description}"></td>
                <td th:text="${offer.price}"></td>
                <td>
                    <div>
                        <div th:if="${offer.purchase}">
                            <button class="btn btn-success" th:id="${'purchaseButton' + offer.id}"
                                    th:text="#{msg.offer.purchase}"
                                    type="button">
                            </button>
                        </div>
                        <div th:unless="${offer.purchase}">
                            <button class="btn btn-info" th:id="${'purchaseButton' + offer.id}"
                                    th:text="#{msg.offer.sold}"
                                    type="button"><span></span>
                            </button>
                        </div>

                        <a th:href="${'/offer/conversation/' + offer.id}" th:text="#{msg.conversation.start}"></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>