<div class="container" id="tableOwnedOffers" th:fragment="tableOwnedOffers">
    <h2 th:text="#{msg.offer.ownlist.headtitle}"></h2>
    <p th:text="#{msg.offer.ownlist.text}"></p>
    <div class="card-deck">
        <div class="card border-dark mb-3" style="max-width: 18rem;min-width: 18rem; "
             th:each="offer : ${offersList}" >
            <img th:src="@{/images/offer_image.png}" class="card-img-top"/>
            <div class="card-body">
                <h5 class="card-title" th:text="${offer.price + ' EUR'}"></h5>
                <h6 class="card-subtitle" th:text="${offer.title}"></h6>
                <p class="card-text" th:text="${offer.description}"></p>
                <div class="d-flex flex-row">
                    <a th:href="${'/offer/delete/' + offer.id}">
                        <button class="btn btn-danger" th:text="#{msg.offer.delete}"
                                type="button">
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>