<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2 th:text="#{msg.log.title}"></h2>
    <form action="/log" class="form-inline">
        <div class="form-group">
            <input class="form-control" name="searchText"
                   size="50" th:placeholder="#{msg.placeholder.log.search}" type="text">
        </div>
        <button class="btn btn-dark" th:text="#{msg.searchbtn}" type="submit"></button>
    </form>
    <button class="btn btn-dark" id="updateButton" th:text="#{msg.updateBtn}" type="button"></button>
    <script>
        $("#updateButton").click(function () {
            $("#tableLogs").load('/log/update');
        });
    </script>
    <a th:href="${'/log/delete'}">
        <button class="btn btn-dark" th:text="#{msg.log.delete}"></button>
    </a>
    <div class="table-responsive">
        <table class="table table-hover" id="tableLogs" th:fragment="tableLogs">
            <thead>
            <tr>
                <th scope="col" th:text="#{msg.log.date}"></th>
                <th scope="col" th:text="#{msg.log.action}"></th>
                <th scope="col" th:text="#{msg.conversation.start}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${logMessages}">
                <td scope="row" th:text="${log.date}"></td>
                <td scope="row" th:text="${log.action}"></td>
                <td scope="row" th:text="${log.message}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>